body { margin: 0; }

 h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif;
}

h1{

  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color:rgba(255, 255, 255,0.8);
}


.options
{

	margin: 10px auto;
	padding: 20px;
	display: flex;
	float: right;
}


body
{

flex-grow: : -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("../assests/band.jpg");
	background-image: -o-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("../assests/band.jpg");
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url("../assests/band.jpg");
	height:100vh;
	background-position: center;
	background-size: cover;
	font-family:tahoma;
	font-size: 60px;
}



.main-nav
{
	list-style: none;
	float: right;
	margin: 0;
	padding-right:0px;
	 font-family: 'Montserrat', sans-serif;
	  font-size: large;
	  color:rgba(255, 255, 255,0.8);

}

.main-nav li
{
	display: inline-flex;
	margin-bottom: 30px;
	margin-right: 10px
}

.main-nav li a
{
 float: right;
  display: flex;
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: 150px;

}





.input
{
	width: 400px;
	height:55px;
	border: 2px solid #fff;
	background: #fff;
	padding: 4px 10px;
	border-radius: 20px;
	color: #2c3e50;
	font-size: 18px;
	outline: inherit;
}

::-webkit-input-placeholder
{
	color: #95a5a6;
	font-family: "lato", sans-serif;
}


::-moz-input-placeholder
{
	color: #95a5a6;
	font-family: "lato", sans-serif;
}


::-ms-input-placeholder
{
	color: #95a5a6;
	font-family: "lato", sans-serif;
}


.close-btn
{
	position: absolute;
	top: 44px;
	right: 35px;
	cursor: pointer;
	width: 100px;
	height: 55px;
	background: #fff;
	font-family: "lato";
	font-size: 12px;
	color: rgba(58, 58, 58,0.6);
	border: 2px solid rgba(58, 58, 58,0.6);
	border-radius: 50px;
	text-transform: uppercase;
}
.flex-container {
  display: flex;
  justify-content: flex-end;
	align-items: flex-end;
	background-color: black;
	opacity: 0.2;
  height: 150px;

}
.flex-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;

}
.flex-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;

}
.flex-container>div {
  background-color: #f1f1f1;

}



.example{
	display: flex;
	align-items: center;
	margin-top: ;
}
.search-form {
	width: 60%;
	margin: 0 auto;
}
input[type="search"] {
	box-sizing: border-box;
	background: #E9E9E9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0.35em 0.75em;
	border: none;
	font-size: .5em;
	text-decoration: none;
	line-height: normal;
	max-height: 1.4em;

}
button[type="submit"] {
	box-sizing: border-box;
	text-transform: uppercase;
	color: grey;
	padding: .1em 0.75em;
	border: none;
	font-size: .5em;
	text-decoration: none;
		max-height: 1.4em;
			line-height: normal;
}
button[type="submit"]:hover {
	background: grey;
	color: white;
}
/*flex it*/
.search-form {
	display: flex;
	flex-wrap: wrap;
}
input[type="search"] {
	flex: 2 0 200px;
}
button[type="submit"] {
	flex: 1 0 50px;
}
@media (max-width: 300px) {
body {
	width: 100%;

	margin: 0;
	padding: 1em 0 2em;
}
header {
	padding: 2% 5%;
}
}
