body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../assets/background.jpg');
  background-size: cover;
  }
/*hello*/
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
  text-align: center;
}

hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

ul {
  margin: 4px 0 0 0;
}

/*Username, Password */
label,
h6 {
  color: white;
  font-size: 13px;
  font-weight: normal;
  padding-top: 10px;
}

.well {
  background: black;
  margin-bottom: 0;

}
.well .tab-title {
  float: left;
  margin-left: 10px;
}
.well .button-top-right {
  float: right;
  margin: 0 10px 20px 0;
}
.navbar-btn {
  min-width: 100px;
  margin-right: 8px;
}
.navbar-btn .btn {
  min-width: 100px;
}
.glyphicon {
  margin-right: 8px;
}
/*
	login window
*/
/*Username/Password text*/
#login label {
  margin-left: 2px;
  float: left;
}
/*size of box*/
#login form {
  width: 420px;
}
/*Space between text boxes and buttons*/
#login .controls {
  margin-top: 20px;
}
/*Button size/positioning*/
#login .controls .button-rememember-me {
  float: left;
  width: 150px;
}
/*Button size/positioning*/
#login .controls .button-sign-in {
  float: right;
  width: 120px;
}
/*Create account text*/
#login .btm-links {
  font-size: 15px;
  text-align: center;
  margin: 2px 0 0 0;
}

#login .btm-links:hover {
  color: white;
}

/*Text postioning*/
#login .btm-links #create-account {
  margin-right: 5px;
}
/*Account settings box size*/
#account-form-container form {
  width: 460px;
}
img{
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
	modal windows
*/
/*Size of pop ups*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  height: 100vh;
}
.center-vertical form {
  top: 50%;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
}
.form-horizontal .form-buttons {
  float: right;
}
.form-horizontal .form-buttons .btn {
  width: 80px;
  margin-left: 6px;
}
.form-horizontal input,
.form-horizontal select {
  height: 30px;
}
